{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for("delete_deck") }}" method="post">
        <div class="row">
            <div class="small-4 columns">
                <label>Deck to delete
                    <select name="deck_name">
                        {% for deck in decks %}
                            <option value="{{ deck.name }}">{{ deck.name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div class="small-4 columns end">
                <input class="button" type="submit" value="Delete deck">
            </div>
        </div>
    </form>
{% endblock %}