{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="small-4 columns"><h4>Deck name</h4></div>
        <div class="small-3 columns"><h4>Wins</h4></div>
        <div class="small-3 columns"><h4>Losses</h4></div>
        <div class="small-2 columns"><h4>Win %</h4></div>
    </div>
    <div class="row columns">
        {% if deck_info %}
            <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
            {% for deck in deck_info if deck %}
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">
                        <div class="row">
                            <div class="small-4 columns"><h4>{{ deck.deck_name }}</h4></div>
                            <div class="small-3 columns"><h4>{{ deck.wins }}</h4></div>
                            <div class="small-3 columns"><h4>{{ deck.losses }}</h4></div>
                            <div class="small-2 columns"><h4>{{ deck.ratio }} %</h4></div>
                        </div>
                    </a>
                    <div class="accordion-content" data-tab-content>
                        {% for matchup in deck.matchups %}
                            <div class="row">
                                <div class="small-4 columns">{{ matchup.enemy }}</div>
                                <div class="small-3 columns">{{ matchup.wins }}</div>
                                <div class="small-3 columns">{{ matchup.losses }}</div>
                                <div class="small-2 columns">{{ matchup.ratio }} %</div>
                            </div>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}